:root {
  --main-color:#ff9800;
}
body {
  font-family: 'Open Sans', sans-serif;
}
/* Start Settings Box */
.srttings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  width: 200px;
  z-index: 1000;
  min-height: 100vh;
  transition: 0.3s;
}
.srttings-box.open {
  left: 0;
}
.srttings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.srttings-box .toggle-settings i {
  padding: 8px 0;
  width: 30px;
}
.srttings-box .toggle-settings i.rotate {
  animation: rotate 5s infinite;
}
.srttings-box .settings-container {
  
}
/* End Settings Box */
/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url('../imgs/01.jpg');
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.header-area {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  padding: 10px;
}
.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.header-area .links {
  list-style: none;
  padding-left: 0;
  padding-right: 20px;
  width: 100%;
  text-align: right;
  font-size: 15px;
}
.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}
.header-area .links li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}
.introduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
}
.introduction-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}
.introduction-text h1 span {
  color: var(--main-color);
}
.introduction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
/* End Landing Page */
/* Start Animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* End Animation */